:root {
  --primery-texte-color: #757575; /*Основной цвет */
  --second-color: #212121; /* Второй цвет  */
  --accent-color: #2196f3; /*Акцентный цвет */
  --whitw-color-texte: #ffffff;
  --hero-footer-color: #2f303a; /*Цвет в футере и блоке герой */
  --secondery-backgraund: #f5f4fa; /*цвет фона в блоке наша команда*/
}
body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  background: white;
  font-size: 14px;
  color: var(--primery-texte-color);
  letter-spacing: 0.03em;
  font-weight: 500px;
}

.list {
  list-style: none;
}

/*logo*/
.logo-nav {
  color: var(--accent-color);
  font-family: raleway;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
}
.logoheder {
  color: var(--second-color);
}

/*секция навигация*/
.link {
  color: var(--second-color);
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-link .list {
  color: var(--second-color);
}

.nav-link .link:hover,
:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}

.contact {
  color: var(--primery-texte-color);
  text-decoration: none;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.contact:hover,
:focus {
  color: var(--accent-color);
}
/* Секция герой */

.section-hero {
  background: var(--hero-footer-color);
  width: 1600px;
  height: 600px;
}
.title-hero {
  color: var(--whitw-color-texte);
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
}
.hero-button {
  text-decoration: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--whitw-color-texte);
  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
  text-decoration: none;
}
/* Особенности */

.title-list {
  font-size: 14px;
}
.title {
  color: var(--second-color);
  font-weight: 700;
  line-height: 1.14;
}
.text-title {
  color: var(--primery-texte-color);
  font-weight: 400;
  line-height: 1.1;
}
/* Чем мы занимаемся */
.section-title {
  color: var(--second-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
/* Секция наша команда */
.section-team {
  background: var(--secondery-backgraund);
}
.team-name {
  font-size: 16px;
  color: var(--second-color);
  line-height: 1.8;
  font-weight: 500;
}
.team-position {
  color: var(--primery-texte-color);
  font-weight: 400;
  line-height: 1.8;
  font-size: 16px;
}
/* Футер */
.section-footer {
  background: var(--hero-footer-color);
}
.logo-footer {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway;
  line-height: 1.19;
  font-weight: 700;
  font-size: 26px;
}
.logofooter {
  color: var(--whitw-color-texte);
}
.adress-box {
  color: var(--whitw-color-texte);
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
}
.contact-footer {
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  color: rgba(129, 129, 129, 0.6);
}
.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}
/* Портфолио */

.portfolio-button {
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;

  background-color: var(--secondery-backgraund);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background: #188ce8;
  text-decoration: none;
  color: var(--whitw-color-texte);
}

.image-link {
  color: var(--second-color);
}
.portfolio-list {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
  text-decoration: none;
}
.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  color: var(--primery-texte-color);
}
