:root {
  --primery-texte-color: #757575; /*Основной цвет */
  --second-color: #212121; /* Второй цвет  */
  --accent-color: #2196f3; /*Акцентный цвет */
  --whitw-color-texte: #ffffff;
  --hero-footer-color: #2f303a; /*Цвет в футере и блоке герой */
  --secondery-backgraund: #f5f4fa; /*цвет фона в блоке наша команда*/
}
body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  background: white;
  color: #212121;
}

.list {
  list-style: none;
}

/*logo*/
.logo-nav {
  color: var(--accent-color);
  font-family: raleway;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.03em;
  font-size: 26pxs;
}
.logoheder {
  color: var(--second-color);
}

/*секция навигация*/
.link {
  color: var(--second-color);
  font-weight: 500px;
  size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-link .list {
  color: var(--second-color);
}
.nav-link .link:hover,
:focus {
  color: var(--accent-color);
}
.nav-link .link.current {
  color: var(--accent-color);
}
.contact {
  color: var(--primery-texte-color);
  text-decoration: none;
  font-weight: 500px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.contact:hover,
:focus {
  color: var(--accent-color);
}
/* Секция герой */

.section-hero {
  background: var(--hero-footer-color);
  width: 1600px;
  height: 600px;
}
.title-hero {
  color: var(--whitw-color-texte);
  size: 44px;
  line-height: 60px;
  letter-spacing: 6%;
  text-align: center;
}
.button-primery {
  background: var(--accent-color);
  color: var(--whitw-color-texte);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font: inherit;
}
/* Особенности */
.title {
  color: var(--second-color);
  font-family: Roboto;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: bold;
  line-height: 16px;
}
.texte-title {
  color: var(--primery-texte-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
/* Чем мы занимаемся */
.section-title {
  color: var(--second-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
/* Секция наша команда */

li.team-link {
  color: var(--second-color);
  font-weight: 500px;
  font-size: 16px;
  line-height: 19px;
  font-family: Roboto;
  font-style: normal;
  background: var(--secondery-backgraund);
}
.team-position {
  color: var(--primery-texte-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}
/* Футер */
.section-footer {
  background: var(--hero-footer-color);
}
.logo-footer {
  color: var(--accent-color);
  text-decoration: none;
}
.logofooter {
  color: var(--whitw-color-texte);
}
.adress-box {
  color: var(--whitw-color-texte);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.contact-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
